version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    environment:
      NODE_ENV: test
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: yarn install
            - run: yarn run lint:client
            - run: yarn run lint:server
            - run: yarn test
            - run: yarn semantic-release
workflows:
  build-and-test:
    jobs:
      - build-and-test
